.faq-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 0 auto; /* Горизонтальне центрування */
    display: flex;
    flex-direction: column;
    align-items: center; /* Вертикальне центрування */
    justify-content: flex-start; /* Вертикальне центрування */
    min-height: 68vh; /* Мінімальна висота для центрування по вертикалі */
    color: black;
  }
  
  .faq-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .faq-container li {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
  .question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .question span {
    font-size: 18px;
    font-weight: bold;
  }
  
  .arrow {
    font-size: 18px;
    transition: transform 0.2s ease-in-out;
  }
  
  .arrow.open {
    transform: rotate(180deg);
  }
  
  .answer {
    font-size: 16px;
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    .faq-container {
      max-height: 60vh;
      overflow-y: auto;
    }
  }