.brief {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  animation: fadeIn 0.5s ease-in-out;
}
  
  .brief h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .brief label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .brief button {
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .brief-close-button {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .brief-close-button:before, .brief-close-button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    height: 2px;
    width: 25px;
    background-color: #fff;
    transition: transform 0.25s ease-out, background-color 0.25s ease-out;
  }

  .brief-close-button:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .brief-close-button:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  .brief-close-button:hover:before,
  .brief-close-button:hover:after {
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: red;
  }

  .brief-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
.brief-left {
  flex: 1;
  text-align: left;
  padding: 0 20px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  }

  .brief-form {
    flex: 1;
    text-align: right;
  }

  .brief-left {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  
  .brief-left h2 {
    font-size: 84px;
    margin: 0;
  }

  .map-link {
    font-size: 14px;
    margin: 16px;
    font-weight: normal;
    transition: transform 0.3s ease-in-out;
  }

  .map-link:hover {
    transform: scale(1.2);
  }
  
  .email-link {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    display: block;
    padding-top: 5px;
  }
  
  .brief-form label {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
  }

  .brief-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 0 60px;
    padding: 40px 0px;
  }

  .brief textarea {
    resize: none;
  }  

  .brief-form input[type="text"],
.brief-form input[type="email"],
.brief-form textarea {
  font-size: 16px;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.brief-form button {
  font-size: 20px;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  width: 200px;
  white-space: nowrap;
}

.brief-form button:hover {
  background-color: #fff;
  color: #000000;
}

.email-link {
  color: white;
  position: relative;
  text-decoration: none;
}

.email-link::before,
.email-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.email-link::before {
  transform-origin: right;
}

.email-link:hover::before {
  transform: scaleX(1);
}

.email-link:hover::after {
  transform: scaleX(1);
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-link {
  margin: 40px 16px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  transition: border-color 0.3s ease-in-out;
}

.social-link svg {
  margin-right: 5px;
}

.social-link:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    .brief-content {
      flex-direction: column;
    }

    .brief-left h2 {
      font-size: 44px;
      margin: 0;
    }

    .social-link {
      margin: 20px 8px;
    }

    .brief {
        overflow-y: scroll;
    }

    .brief-left {
      max-height: 30vh;
    }
  }