a {
    text-decoration: none;
    color: white;
  }

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}
  
header {
    color: #fff;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
  }

  .logo-link {
    text-decoration: none;
  }
  
  .logo {
    max-width: 150px;
    max-height: 150px;
  }
  
  .menu-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .link {
    display: flex;
    align-items: center;
    margin-right: 32px;
    font-size: 24px;
    line-height: 28px;
  }
  
  .menu-toggle {
    max-width: 45px;
    height: 45px;
    background-image: url('./round_hamburger_menu_burger_icon_132782.svg');
    background-size: cover;
    cursor: pointer;
    color:#fff;
  }

  .link:hover {
    transform: scale(1.4);
    transition: transform 0.8s ease-in-out;
  }

  .menu-links a {
    text-decoration: none;
    color: white;
    backface-visibility: hidden;
    padding-right: 20px;
  }

.faq-active{
  transform: scale(1.4);
  display: flex;
  align-items: center;
  margin-right: 32px;
  font-size: 24px;
  line-height: 28px;
  text-decoration: underline; 
}

  @media (max-width: 768px) {
    .menu-links li:nth-child(1),
    .menu-links li:nth-child(2),
    .menu-links li:nth-child(3),
    .menu-links li:nth-child(4) {
      display: none;
    }
  }

